<p>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
</p>
<div class="container-fluid">
	<div class="row content">
		<div class="col-sm-3 sidenav">
			<h3>JeeYoung Rho's Blog</h3>
			<ul class="nav nav-pills nav-stacked">
				<li class="active"><a href="#section1">1. Introduction</a></li>
				<li><a href="#section2">2. From Outside Canada</a></li>
				<li><a href="#section3">3. From Inside Canada</a></li>
				<li><a href="#section4">4. Conclusion</a></li>
			</ul>
			<br />
			<div class="input-group"></div>
		</div>
		<div class="col-sm-9">
			<div id="section1">
				<h4>
					<small>RECENT POSTS</small>
				</h4>
				<h5>
					<span class="glyphicon glyphicon-time"></span> Post by JeeYoung
					Rho, Mar, 2020.
				</h5>
				<hr />
				<h2>1.Introduction</h2>
				<h5>
					<span class="label label-danger">Culture</span> <span
						class="label label-primary">Canada</span>
				</h5>
				<br />
				<h3>Basically, as we learned though class, Canada is a
					multicultural country and is multiculturalism. Of course, it is
					well known to many people that there are many ethnic groups in
					Canada, but I’d like to write down my thoughts as a person who has
					actually experienced Canada from now on. Canadian culture is even
					explained as a Cultural Mosaic or a Salad. For example, when we
					make a salad, it needs each ingredients and they harmonize with the
					whole while maintaining their own taste and characteristics. Now, I
					am studying hospitalities and reading a famous chef’s book, so the
					analogy with salad is easy and fun for me. Also, there may
					naturally be a comparison between my hometown, South Korea and
					Canada in my writhing and thought. Based on 8 months experience
					with Canadians and Canadian culture, I want to share about them.</h3>
				<br />
				<h3>In addition, I would like to use my experience to find
					answers to the following questions.</h3>
				<br />
				<table class="table">
					<thead class="thead-light">
						<tr>
							<th scope="col">#</th>
							<th scope="col">Thinking about your experiences in Canada
								and with Canadians, please answer the following questions:</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>How do you describe Canadians and Canadian Culture? Has
								your idea of who a Canadian is changed since you came here?</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Find and post an image, artwork, song, or short video
								representing Canada and the Canadian experience. Or create your
								own artistic representation. Explain why you chose this
								particular artwork</td>
						</tr>
					</tbody>
				</table>
				<br /> <br />
				<hr />
				<hr />
			</div>
			<div id="section2">
				<h2>2. The Image Viewed from the outside of Canada</h2>
				<h5>
					<span class="label label-danger">Culture</span> <span
						class="label label-primary">Canada</span>
				</h5>
				<br />
				<h3>When I had not experienced Canada, there were some
					preconceptions I had heard from the surroundings. For example,
					winter is very long and the weather is extremely cold; therefore,
					there are many brands of clothing such as Canada Goose or
					Mooseknuckles.</h3>
				<br /> <img
					src="https://bb-gbc.blackboard.com/courses/1/CRN-47027-201902/blog/_184422_1/post/_181102_1/polar-bear-529659_1280.jpg"
					width="960" height="540" alt="Polar bear" title="Polar bear" />
				<h4>
					<span class="label label-success">The polar bear</span>
				</h4>
				<br />
			</div>
			<div>
				<img
					src="https://bb-gbc.blackboard.com/courses/1/CRN-47027-201902/blog/_184422_1/post/_181102_1/winter-3260935_1280.jpg"
					width="960" height="540" alt="heavy winter wear"
					title="heavy winter wear" />
				<h4>
					<span class="label label-success">The heavy winter wear</span>
				</h4>
				<br /> <br />
				<h3>In addition, Canada is famous for Ice Hockey and maple
					syrup; also, it is a country with a beautiful natural environment.</h3>
			</div>
			<br /> <img
				src="https://bb-gbc.blackboard.com/courses/1/CRN-47027-201902/blog/_184422_1/post/_181102_1/ice-hockey-589301_1280.jpg"
				width="960" height="540" alt="Ice hockey" title="Ice hockey" />

			<h4>
				<span class="label label-success">Ice hockey</span>
			</h4>
			<br /> <img
				src="https://bb-gbc.blackboard.com/courses/1/CRN-47027-201902/blog/_184422_1/post/_181102_1/waffle-984499_1280.jpg"
				width="960" height="540" alt="Maple syrup" title="Maple syrup" />

			<h4>
				<span class="label label-success">Maple syrup</span>
			</h4>
			<br />
			<div>
				<img
					src="https://bb-gbc.blackboard.com/courses/1/CRN-47027-201902/blog/_184422_1/post/_181102_1/united-kingdom-1106453_1280.jpg"
					width="960" height="540" alt="The park" title="The park" />
				<h4>
					<span class="label label-success">The park</span>
				</h4>
				<br />
				<h3>Finally, many people including myself think that Canada is
					a country very similar in all respects to the United States; As a
					result, I thought Canadians, Americans and their culture were
					similar.</h3>
				<br /> <img
					src="https://bb-gbc.blackboard.com/courses/1/CRN-47027-201902/blog/_184422_1/post/_181102_1/skydiver-1531968_1280.jpg"
					width="960" height="540" alt="CANADA vs USA" title="CANADA vs USA" />
				<h4>
					<span class="label label-success">CANADA vs USA</span>
				</h4>
				<br /> <br />
				<hr />
				<hr />
			</div>
			<div id="section3">
				<h2>3.The Image Viewed from the inside of Canada</h2>
				<h5>
					<span class="label label-danger">Culture</span> <span
						class="label label-primary">Canada</span>
				</h5>
				<br />
				<h3>From now on, I want to talk about my experience after
					arriving in Canada. First, I want to write about the many things I
					have felt through my daily life. Actually, I felt and experienced
					many things while living here with my children and husband. The
					most importantly, there are people from many different cultures in
					Canada. For example, my daughter’s class has friends from many
					countries. They are friends who were originally born in Canada or
					from Spain, China and Brazil; therefore, I met lots of parents from
					many different countries. They are all very kind and helpful to me
					as someone who experienced Canada before me. At first, I couldn’t
					speak English very well, so I was very worried about talking to
					them. However, they gladly helped me, kindly explained and invited
					me. The kindness and consideration for the stranger was the first
					impression of me and the children about the Canadians.</h3>
				<br /> <img
					src="https://bb-gbc.blackboard.com/courses/1/CRN-47027-201902/blog/_184422_1/post/_181102_1/personal-3139194_1280.jpg"
					width="960" height="318" alt="Various People"
					title="Various People" />
				<h4>
					<span class="label label-success">Various People</span>
				</h4>
				<br />
				<h3>Moreover, Canadians and Canadian culture are too different
					from South Korea. The experiences were not known before coming to
					Canada, so they were even more surprising. For instance, the
					teacher is like a friend, we call the teacher’s name. I can’t
					imagine it in Korea. When I first came in George Brown College, I
					call my teacher “teacher”, but she explained to me that it’s like
					she calls me “student”, so I called her name. This is a cultural
					difference in language and title. Second, I feel a lot of cultural
					differences on the subway. The telephone and the Internet are not
					working well on the subway, so the subway is relatively quiet; in
					contrast, subway in Korea were always noisy with the voices of
					people on the phone. Also, the seat is empty, Canadian usually ask
					me to sit down first.</h3>
			</div>
			<br /> <img
				src="https://bb-gbc.blackboard.com/courses/1/CRN-47027-201902/blog/_184422_1/post/_181102_1/underground-1081975_1280.jpg"
				width="960" height="540" alt="The subway" title="The subway" />
			<h4>
				<span class="label label-success">The subway</span>
			</h4>
			<br />
			<h3>Third, Canadian use the words sorry, excuse me, or thank you
				often or daily. These are the words I hear the most, and the words I
				speak the most here.</h3>

			<br /> <img
				src="https://bb-gbc.blackboard.com/courses/1/CRN-47027-201902/blog/_184422_1/post/_181102_1/rose-1271216_1280.jpg"
				width="960" height="540" alt="I am sorry" title="I am sorry" />
			<h4>
				<span class="label label-success">I am sorry</span>
			</h4>
			<br />
			<h3>Canadians and Americans seem to be much different including
				their culture, characteristics, history or thought. Indeed, Canada
				and the United states are different countries and these have
				different cultures. It is as if Japan or China and south Korea is
				the same.</h3>
			<video width="640" height="480" preload="none" controls="controls"
				src="https://bb-gbc.blackboard.com/courses/1/CRN-47027-201902/blog/_184422_1/post/_181102_1/Canadian%20Culture.mp4">
				<object width="640" height="480"
					classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
					codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"
					name="blogEntry_desc_text">
					<param name="flashvars"
						value="url=https%3A//bb-gbc.blackboard.com/courses/1/CRN-47027-201902/blog/_184422_1/post/_181102_1/Canadian%2520Culture.mp4&amp;poster=/webapps/blogs-journals/execute/" />
					<param name="allowfullscreen" value="true" />
					<param name="src"
						value="https://bb-gbc.blackboard.com/webapps/vtbe-tinymce/tiny_mce/plugins/media/moxieplayer.swf" />
					<param name="allowscriptaccess" value="true" />
					<embed width="640" height="480"
						type="application/x-shockwave-flash"
						src="https://bb-gbc.blackboard.com/webapps/vtbe-tinymce/tiny_mce/plugins/media/moxieplayer.swf"
						flashvars="url=https%3A//bb-gbc.blackboard.com/courses/1/CRN-47027-201902/blog/_184422_1/post/_181102_1/Canadian%2520Culture.mp4&amp;poster=/webapps/blogs-journals/execute/"
						allowfullscreen="true" allowscriptaccess="true"
						name="blogEntry_desc_text" />
				</object>
			</video>
			<h4>
				<span class="label label-success">Canadian Culture</span>
			</h4>
			<hr />
			<h3>Finally, Canada I thought and Canada I experienced myself
				had the same and wrong. Not all Canadian regions are as cold as the
				Arctic, and I am doing better than expected. Of course, I still need
				thick clothes and sometimes I feel like flying in a strong wind.
				Furthermore, Canada has beautiful nature environment and it is
				famous for Ice Hockey, and maple syrup including many parks, tasty
				wine and wonderful maple. These are all true.</h3>
			<br /> <br />
			<hr />
			<hr />

			<div id="section4">
				<h2>4. Conclusion</h2>
				<h5>
					<span class="label label-danger">Culture</span> <span
						class="label label-primary">Canada</span>
				</h5>
				<br />
				<h3>In conclusion, the experience and images before and after
					coming to Canada have different things and the same things. I think
					the culture that should be appreciated the most in Canada's is to
					respect diversity and to be considerate and respectful of others.
					The Canadians that I experienced recognize each other, respect each
					other’s culture, and live together learning and feeling. They are
					all different at fist glance, but if you look closely, they are all
					the same as Canada.</h3>
				<img
					src="https://bb-gbc.blackboard.com/courses/1/CRN-47027-201902/blog/_184422_1/post/_181102_1/toronto-3112508_1280.jpg"
					width="960" height="540"
					alt="The lanascope from the lake of Ontario"
					title="Beautiful Toronto" />
				<h4>
					<span class="label label-success">Beautiful Toronto</span>
				</h4>
				<br /> <br />
				<hr />
			</div>
			<hr />
			<h2>Officially Blogging</h2>
			<h5>
				<span class="label label-success">Jee</span>
			</h5>
			<br />
			<p>Hi Everyone. This is Jeeyoung Rho. I would like meet you guys
				in-person, it does not work right now. I pray everyone's safe, God
				bless Us</p>
			<hr />
			<h4>Leave a Comment:</h4>
			<div class="form-group"></div>
			Submit <br /> <br />
			<p>
				<span class="badge">2</span> Comments:
			</p>
			<br />
			<div class="row">
				<div class="col-sm-2 text-center">
					<img
						src="https://bb-gbc.blackboard.com/courses/1/CRN-47027-201902/blog/_184422_1/post/_181102_1/DAGiUGTUAAEIdMT.jpg"
						class="img-circle" height="65" width="65" alt="Avatar" />
				</div>
				<div class="col-sm-10">
					<h4>
						Jinhyun Nam <small>Mar 19, 2020, 9:12 PM</small>
					</h4>
					<h5>Keep up the GREAT work! I am cheering for you!! What a
						fantastic you are~!. You are such a great person. I appreciate you
						who brave, smart, beautiful</h5>
				</div>
				<div class="col-sm-2 text-center">
					<img
						src="https://bb-gbc.blackboard.com/courses/1/CRN-47027-201902/blog/_184422_1/post/_181102_1/DAGiUGTUAAEIdMT.jpg"
						class="img-circle" height="65" width="65" alt="Avatar" />
				</div>
				<div class="col-sm-10">
					<h4>
						Jinhyun Nam <small>Mar 20, 2020, 8:25 PM</small>
					</h4>
					<h5>I am so happy for you girl! Finally. I am looking forward
						to read about your canadian life. Thanks for your blog.</h5>
					<br />
					<p>
						<span class="badge">1</span> Comment:
					</p>
					<br />
					<div class="row">
						<div class="col-sm-2 text-center">
							<img
								src="https://bb-gbc.blackboard.com/courses/1/CRN-47027-201902/blog/_184422_1/post/_181102_1/63866_29095_824.jpg"
								class="img-circle" height="65" width="65" alt="Avatar" />
						</div>
						<div class="col-xs-10">
							<h4>
								Byungjung An <small>Mar 20, 2020, 8:28 PM</small>
							</h4>
							<h5>Me too! WOW! I admit it</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<hr />
<p align="center">Copyright Jeeyoung Rho</p>