<p>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
</p>
<div class="container-fluid">
	<div class="row content">
		<div class="col-sm-3 sidenav">
			<h3>JeeYoung Rho's Blog</h3>
			<ul class="nav nav-pills nav-stacked">
				<li class="active"><a href="#section1">1.Introduction</a></li>
				<li><a href="#section2">2.From Outside Canada</a></li>
				<li><a href="#section3">3.From Inside Canada</a></li>
				<li><a href="#section4">4.Photos, Videos</a></li>
				<li><a href="#section5">5.Conclusion</a></li>
			</ul>
			<br />
			<div class="input-group"></div>
		</div>
		<div class="col-sm-9">
			<div id="section1">
				<h4>
					<small>RECENT POSTS</small>
				</h4>
				<h5>
					<span class="glyphicon glyphicon-time"></span> Post by JeeYoung
					Rho, Mar, 2020.
				</h5>
				<hr />
				<h2>1.Introduction</h2>
				<h5>
					<span class="label label-danger">Culture</span> <span
						class="label label-primary">Canada</span>
				</h5>
				<br />
				<h3>Basically, as we learned though class, Canada is a
					multicultural country and is multiculturalism. Of course, it is
					well known to many people that there are many ethnic groups in
					Canada, but I’d like to write down my thoughts as a person who has
					actually experienced Canada from now on. Canadian culture is even
					explained as a Cultural Mosaic or a Salad. For example, when we
					make a salad, it needs each ingredients and they harmonize with the
					whole while maintaining their own taste and characteristics. Now, I
					am studying hospitalities and reading a famous chef’s book, so the
					analogy with salad is easy and fun for me. Also, there may
					naturally be a comparison between my hometown, South Korea and
					Canada in my writhing and thought. Based on 8 months experience
					with Canadians and Canadian culture, I want to share about them.</h3>
				<br />
				<h3>In addition, I would like to use my experience to find
					answers to the following questions.</h3>
				<br />
				<table class="table">
					<thead class="thead-light">
						<tr>
							<th scope="col">#</th>
							<th scope="col">Thinking about your experiences in Canada
								and with Canadians, please answer the following questions:</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>How do you describe Canadians and Canadian Culture? Has
								your idea of who a Canadian is changed since you came here?</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Find and post an image, artwork, song, or short video
								representing Canada and the Canadian experience. Or create your
								own artistic representation. Explain why you chose this
								particular artwork</td>
						</tr>
					</tbody>
				</table>
				<br /> <br />
				<hr />
				<hr />
			</div>
			<div id="section2">
				<h2>2. The Image Viewed from the outside of Canada</h2>
				<h5>
					<span class="label label-danger">Culture</span> <span
						class="label label-primary">Canada</span>
				</h5>
				<br />
				<h3>When I had not experienced Canada, there were some
					preconceptions I had heard from the surroundings. For example,
					winter is very long and the weather is extremely cold; therefore,
					there are many brands of clothing such as Canada Goose or
					Mooseknuckles.</h3>
				<br /> <img
					src="https://bb-gbc.blackboard.com/courses/1/CRN-47027-201902/blog/_184422_1/post/_181102_1/polar-bear-529659_1280.jpg"
					width="960" height="540" alt="Polar bear" title="Polar bear" />
				<h4>
					<span class="label label-success">The Subway of Toronto</span>
				</h4>
				<br />
				<br />
			</div>
			<div></div>
			<div></div>
			<div></div>
			<div>
				<img
					src="https://bb-gbc.blackboard.com/courses/1/CRN-47027-201902/blog/_184422_1/post/_181102_1/winter-3260935_1280.jpg"
					width="960" height="540" alt="heavy winter wear"
					title="heavy winter wear" />
				<h4>
					<span class="label label-success">The Subway of Toronto</span>
				</h4>
				<br />
				<hr />
				<hr />
			</div>
			<div id="section3">
				<h2>3.The Image Viewed from the inside of Canada</h2>
				<h5>
					<span class="label label-danger">Culture</span> <span
						class="label label-primary">Canada</span>
				</h5>
				<br />
				<h3>From now on, I want to talk about my experience after
					arriving in Canada. In particular, I will share the unexpected
					experience with the expected experience in detail.</h3>
				<br /> <br />
				<h3>3.1 Unexpected experiences</h3>
				<h5>
					<span class="label label-danger">Culture</span> <span
						class="label label-primary">Canada</span>
				</h5>
				<br />
				<h3>At first It is Unexpected experiences . The experiences
					were not known before coming to Canada, so they were even more
					surprising. for example.</h3>
				<h3>o Kind Canadians (holding the door for other person, To
					explain kindly)</h3>
				<h3>o A teacher like a friend. o Paying in the seat.</h3>
				<h3>o Calls not allowed on the subway. Of course, no data
					transffering.</h3>
				<h3>o Delivery culture is not very widespread o Unkindness in
					government offices</h3>
				<h3>o Many strikes</h3>
				<h3>o There are many times when the subway</h3>
				<h3>o a heavy smoker on the street o English
					Spelling(ex.Centre, colour)</h3>
				<br /> <br />
				<h3>3.2 The Image Viewed from the inside of Canada</h3>
				<h5>
					<span class="label label-danger">Culture</span> <span
						class="label label-primary">Canada</span>
				</h5>
				<br />
				<h3>Next is the expected experience. When I actually came here,
					I realized it was the same thing that I expected.</h3>
				<h3>o clean air : got a fresh air. I think it's because there
					are so many trees and lots of land.</h3>
				<h3>o Lots of parks :(Everywhere I can find healing Parks).</h3>
				<h3>o The breadth of the land</h3>
				<h3>o It's Cold</h3>
				<h3></h3>
				<hr />
				<hr />
			</div>
			<div id="section4">
				<h2>4. Photos, Videos</h2>
				<h5>
					<span class="label label-danger">Culture</span> <span
						class="label label-primary">Canada</span>
				</h5>
				<br />
				<h3>When I had not experienced Canada from outside, there are
					some images that come to mind. In terms of words, for example it is
					cold, Canada Goose, Ice Hockey, maple country, maple syrup, clean,
					very close to the United States (more than England), air is good,
					beautiful scenery, Canadian lobster, advanced countries.</h3>
				<img
					src="https://bb-gbc.blackboard.com/courses/1/CRN-47027-201902/blog/_184422_1/post/_181102_1/toronto-3112508_1280.jpg"
					width="960" height="540"
					alt="The lanascope from the lake of Ontario"
					title="Beautiful Toronto" />
				<h4>
					<span class="label label-success">Beautiful Toronto</span>
				</h4>
				<br /> <br /> <img
					src="https://bb-gbc.blackboard.com/courses/1/CRN-47027-201902/blog/_184422_1/post/_181102_1/city-2966506_1280.jpg"
					width="960" height="540" alt="Thanks My daily subway"
					title="The Subway of Toronto" />
				<h4>
					<span class="label label-success">The Subway of Toronto</span>
				</h4>
			</div>
			<div></div>
			<div>
				<video width="640" height="480" preload="none" controls="controls"
					src="https://bb-gbc.blackboard.com/courses/1/CRN-47027-201902/blog/_184422_1/post/_181102_1/Canadian%20Culture.mp4">
					<object width="640" height="480"
						classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
						codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"
						name="blogEntry_desc_text">
						<param name="flashvars"
							value="url=https%3A//bb-gbc.blackboard.com/courses/1/CRN-47027-201902/blog/_184422_1/post/_181102_1/Canadian%2520Culture.mp4&amp;poster=/webapps/blogs-journals/execute/" />
						<param name="allowfullscreen" value="true" />
						<param name="src"
							value="https://bb-gbc.blackboard.com/webapps/vtbe-tinymce/tiny_mce/plugins/media/moxieplayer.swf" />
						<param name="allowscriptaccess" value="true" />
						<embed width="640" height="480"
							type="application/x-shockwave-flash"
							src="https://bb-gbc.blackboard.com/webapps/vtbe-tinymce/tiny_mce/plugins/media/moxieplayer.swf"
							flashvars="url=https%3A//bb-gbc.blackboard.com/courses/1/CRN-47027-201902/blog/_184422_1/post/_181102_1/Canadian%2520Culture.mp4&amp;poster=/webapps/blogs-journals/execute/"
							allowfullscreen="true" allowscriptaccess="true"
							name="blogEntry_desc_text" />
					</object>
				</video>
				<h4>
					<span class="label label-success">Canadian Culture</span>
				</h4>
			</div>
			<div></div>
			<div>
				<br />
				<hr />
				<hr />
			</div>
			<div id="section5">
				<h2>5. Conculsion</h2>
				<h5>
					<span class="label label-danger">Culture</span> <span
						class="label label-primary">Canada</span>
				</h5>
				<br />
				<h3>As we saw above, the experience and images before and after
					coming to Canada have different things and the same things. but
					much of things were different than I thought, and I think, the
					culture that should be appreciated the most in Canada's is to
					respect diversity and to be considerate and respectful of others.</h3>
			</div>
			<div>
				<br />
				<hr />
				<hr />
			</div>
			<hr />
			<h2>Officially Blogging</h2>
			<h5>
				<span class="label label-success">Jee</span>
			</h5>
			<br />
			<p>Hi Everyone. This is Jeeyoung Rho. I would like meet you guys
				in-person, it does not work right now. I pray everyone's safe, God
				bless Us</p>
			<hr />
			<h4>Leave a Comment:</h4>
			<div class="form-group"></div>
			Submit <br /> <br />
			<p>
				<span class="badge">2</span> Comments:
			</p>
			<br />
			<div class="row">
				<div class="col-sm-2 text-center">
					<img
						src="https://bb-gbc.blackboard.com/courses/1/CRN-47027-201902/blog/_184422_1/post/_181102_1/DAGiUGTUAAEIdMT.jpg"
						class="img-circle" height="65" width="65" alt="Avatar" />
				</div>
				<div class="col-sm-10">
					<h4>
						Jinhyun Nam <small>Mar 19, 2020, 9:12 PM</small>
					</h4>
					<h5>Keep up the GREAT work! I am cheering for you!! What a
						fantastic you are~!. You are such a great person. I appreciate you
						who brave, smart, beautiful</h5>
				</div>
				<div class="col-sm-2 text-center">
					<img
						src="https://bb-gbc.blackboard.com/courses/1/CRN-47027-201902/blog/_184422_1/post/_181102_1/DAGiUGTUAAEIdMT.jpg"
						class="img-circle" height="65" width="65" alt="Avatar" />
				</div>
				<div class="col-sm-10">
					<h4>
						Jinhyun Nam <small>Mar 20, 2020, 8:25 PM</small>
					</h4>
					<h5>I am so happy for you girl! Finally. I am looking forward
						to read about your canadian life. Thanks for your blog.</h5>
					<br />
					<p>
						<span class="badge">1</span> Comment:
					</p>
					<br />
					<div class="row">
						<div class="col-sm-2 text-center">
							<img
								src="https://bb-gbc.blackboard.com/courses/1/CRN-47027-201902/blog/_184422_1/post/_181102_1/63866_29095_824.jpg"
								class="img-circle" height="65" width="65" alt="Avatar" />
						</div>
						<div class="col-xs-10">
							<h4>
								Byungjung An <small>Mar 20, 2020, 8:28 PM</small>
							</h4>
							<h5>Me too! WOW! I admit it</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<hr />
<p align="center">Copyright Jeeyoung Rho</p>