<p>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
</p>
<div class="container-fluid">
	<h1 align="center"
		style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
		<span
			style="font-family: 'comic sans ms', sans-serif; font-size: 50.0px; color: #112987;">Nostalgic
			Home food</span><span
			style="font-family: 'comic sans ms', sans-serif; font-size: 50.0px; color: #112987;">: </span><span
			style="font-family: 'comic sans ms', sans-serif; font-size: 50.0px; color: #112987;">Jee's
			Sujebi</span>
	</h1>
</div>
<div class="container-fluid"></div>
<div class="container-fluid"></div>
<div class="container-fluid">
	<br />
	<div class="row content">
		<div class="col-sm-3 sidenav"
			style="background-color: #c4f9fc; text-align: center;">
			<h3 style="background-color: #c4f6fc;">
				<span style="color: #0d26be;">JeeYoung Rho's Food Blog</span>
			</h3>
			<br />
			<ul class="nav nav-pills nav-stacked">
				<li class="active"><a href="#section1">Introduction</a></li>
				<li class="active"><a href="#section2">Ingredients &amp;
						Equipment</a></li>
				<li class="active"><a href="#section3">Instructions</a></li>
				<li><pre>Preparing</pre></li>
				<li><pre>Making broth</pre></li>
				<li><pre>Making dough</pre></li>
				<li><pre>Making noodle</pre></li>
				<li><pre>Plating food</pre></li>
				<li class="active"><a href="#section4">Review</a></li>
				<li class="active"><a href="#section5">Video</a></li>
			</ul>
			                      <span
				style="background-color: #d9534f; color: #ffffff; font-size: 18.0px; font-weight: bold; text-align: center; white-space: nowrap;"></span>
			<div class="input-group">
				<span
					style="font-family: 'Open Sans', sans-serif; font-size: small;"> 
					       </span>
			</div>
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br /> 
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br /> 
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br /> 
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br /> 
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br /> 
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br /> 
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br /> 
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br /> 
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br /> 
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br /> 
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br /> 
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br /> 
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br /> 
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br /> 
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br /> 
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br /> 
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br /> 
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br /> 
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br /> 
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br /> 
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br /> 
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br /> 
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br /> 
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br /> 
		</div>
		<div class="col-sm-9">
			<div
				style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
				  <img
					src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_184436_1/1280_20200410_211546.jpg"
					alt="Sujebi1" title="Sujebi1" />  <img
					src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_184436_1/1280_20200410_211609.jpg"
					width="1280" height="720" alt="Sujebi2" title="Sujebi2" /> <br />
				<div id="section1"
					style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;"> 
					         </div>
				<div
					style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
					<span
						style="color: #112987; font-family: 'comic sans ms', sans-serif; font-size: 40.0px; font-weight: bolder;">Introduction</span>
				</div>
				<div
					style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
					<br />
					<div
						style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
						<span style="color: #4b66b3;"><span
							style="font-size: 25.0px; line-height: 30.0px;"><span
								style="font-family: 'comic sans ms', sans-serif; text-align: left; margin-top: 12.0pt;">
									Sujebi is a popular dish in South Korea made from deep and rich
									broth, vegetables, and hand-kneaded flour. Interestingly,
									Koreans express "cool" when eating hot soup. The secret lies in
									the deep and subtle taste of the broth. The key point of
									today's Sujebi is how to make broth. If you learn this broth,
									you can easily apply it in many Korean soup dishes such as fish
									cake soup, noodles soup or Jjigae(Korean stew), etc. In
									addition, when the hand-kneaded flour is aged in the
									refrigerator for about a day, its texture adds a great flavor.
									It will fascinate your taste like soft jelly. Chef Jong-won
									Baek, who prefers the spicy taste, added Kimchi and spicy
									pepper to the soup; It is called Kimchi Sujebi. However, today
									I will make a sweet, savory Sujebi, not spicy for you and my
									children. I remember hearing about Sujebi many times from my
									teacher, Anna, as her favorite Korean food; she reminded me to
									make this dish. Especially on rainy or cold days, when you want
									to melt your body and mind with something warm, I highly
									recommend this dish to you.</span></span></span> <span style="color: #4b66b3;"><span
							style="font-size: 25.0px; line-height: 30.0px;"><span
								style="font-family: 'comic sans ms', sans-serif; text-align: left; margin-top: 12.0pt;"><br /></span></span></span>
					</div>
					<div
						style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;"> 
						                 </div>
					<div
						style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
						<div id="section2"
							style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
							<span
								style="font-family: 'comic sans ms', sans-serif; font-size: 40.0px; font-weight: bolder; color: #112987;">Ingredients
								and Equipment</span>
						</div>
						<br />
						<div
							style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
							      <img
								src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_184436_1/20200412_213532.jpg"
								width="546" height="771" alt="Equipment" title="Equipment" /> 
							<img
								src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_184436_1/20200412_213557.jpg"
								width="546" height="771" alt="Ingredients" title="Ingredients" />  
							  
						</div>
						<div
							style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;"> </div>
						<div id="section3"
							style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
							<br />
							<div
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
								<span
									style="font-family: 'comic sans ms', sans-serif; font-size: 40.0px; font-weight: bolder; color: #112987;">Instructions</span>
							</div>
							<br />
							<div
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
								<span style="color: #4b66b3;"><span
									style="font-size: 25.0px; line-height: 30.0px;"><span
										style="font-family: 'comic sans ms', sans-serif; text-align: left; margin-top: 12.0pt;">Sujebi
											is a wheat dish based on broth. The term "Su" means hand,
											while the "Jebi" refers to "folded" or "folding".The main key
											point of “Sujebi” is the taste of the broth. The broth is
											made of water, onion, radish, anchovy, kelp, but condiments
											like salt or soy are not needed. Next, the dough will be made
											by hand. After being made, the process of aging is necessary.
											Aging is good for about a day, yet if you are in a hurry, you
											need to refrigerate it for hours. Depending on one’s taste,
											sliced seaweed toppings can be added to the completed
											Sujebi. The detailed recipe is as follows.  </span></span></span>
							</div>
							<h4
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;"></h4>
							<h3
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
								<span class="label label-primary">1. Preparing
									ingredients</span>
							</h3>
							         <img
								src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_184436_1/1280_20200410_202405.jpg"
								width="1280" height="720" alt="Ingredients1"
								title="Ingredients1" />  <img
								src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_184436_1/1280_20200410_204552.jpg"
								width="1280" height="720" alt="Ingredients2"
								title="Ingredients2" />
							<p>
								<span
									style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; color: #4b66b3; background-color: #ffffff; text-align: center; margin-top: 12.0pt;">1.
									Prepare a large pot, 10 cup water, onion, radish, dried
									anchovies, dried kelp, carrot, zucchini, green onion, wheat
									flour, garlic paste, salt, and cooking oil.</span>
							</p>
						</div>
						<p>
							<span
								style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; color: #4b66b3; background-color: #ffffff; text-align: center; margin-top: 12.0pt;">2.
								Cut the zucchini, potato, and onion into 0.5-centimeter thick 
								pieces (half-moon shape)</span>
						</p>
					</div>
					<div
						style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
						<span
							style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; color: #4b66b3; background-color: #ffffff; text-align: center; margin-top: 12.0pt;">3.
							Finely chop the green onions, and slice the carrots into 3cm long
							pieces.<br />
						</span>
						<div
							style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
							   <br />
							<h3
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
								<span class="label label-primary">2. Making broth</span>
							</h3>
							<div
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
								<img
									src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_184436_1/1280_20200410_203245.jpg"
									width="1280" height="720" alt="Pour Water" title="Pour Water" /> 
								<img
									src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_184436_1/1280_20200410_203538.jpg"
									width="1280" height="720" alt="Boiling" title="Boiling" />
							</div>
							<br />
							<div
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
								<img
									src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_184436_1/1280_20200410_205313.jpg"
									width="1280" height="720" alt="Take out Ingredients"
									title="Take out Ingredients" />  <img
									src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_184436_1/1280_20200410_205817.jpg"
									width="1280" height="720" alt="Add Something"
									title="Add Something" />
							</div>
							<p>
								<span
									style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; color: #4b66b3; background-color: #ffffff; text-align: center; margin-top: 12.0pt;">1.
									Put 10 cup water in a large pot, and add onion, radish, dried
									anchovies, and dried kelp.</span>
							</p>
							<p>
								<span
									style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; color: #4b66b3; background-color: #ffffff; text-align: center; margin-top: 12.0pt;"></span><span
									style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; color: #4b66b3; background-color: #ffffff; text-align: center; margin-top: 12.0pt;">2.
									Boil them for 10 minutes on high heat, then boil for another 10
									minutes over low heat.</span><span
									style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; color: #4b66b3; text-align: center; margin-top: 12.0pt;"><br /></span>
							</p>
							<p>
								<span
									style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; color: #4b66b3; text-align: center; margin-top: 12.0pt;"></span><span
									style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; color: #4b66b3; text-align: center; margin-top: 12.0pt;">3.
									Use a dry net to pull out anchovies, kelp, onion, radish.</span>
							</p>
							<p>
								<span
									style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; color: #4b66b3; text-align: center; margin-top: 12.0pt;">4.
									when the broth boils, add potatoes and onions and boil for 5
									minutes.</span>
							</p>
							<br />
							<h3
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
								<span class="label label-primary">3. Making dough</span>
							</h3>
							<div
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
								<img
									src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_184436_1/1280_20200410_204647.jpg"
									width="1280" height="720" alt="Pour water" title="Pour water" /> 
								<img
									src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_184436_1/1280_20200410_205000.jpg"
									width="1280" height="720" alt="Aging" title="Aging" />
							</div>
							<p>
								<span
									style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; color: #4b66b3;">1.
									Put the wheat flour of 300g into the bowl, and combine the
									wheat flour, 1/2 cup of water, and 3 teaspoons cooking oil.</span>
							</p>
							<p>
								<span
									style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; color: #4b66b3;">2.
									Put the dough into a plastic bag and keep it in the
									refrigerator for aging(1 day).</span>
							</p>
							<p>
								<span
									style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; color: #4b66b3;"></span><span
									style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; color: #4b66b3;">*tip:
									Using a food processor is very convenient and saves time. If
									you use a food processor, use the dough blade and knead all the
									above ingredients for 1 minute until the dough sticks together
									and gets lumpy.</span>
							</p>
							<br />
							<h3
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
								<span class="label label-primary">4. Making noodle</span>
							</h3>
							<div
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
								<img
									src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_184436_1/1280_20200410_210020.jpg"
									width="1280" height="720" alt="Put dough" title="Put dough" /> 
								<img
									src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_184436_1/1280_20200410_210416.jpg"
									width="1280" height="720" alt="Add Ingredients"
									title="Add Ingredients" />
							</div>
							<p>
								<span
									style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; color: #4b66b3;">1.
									Put the dough in the left hand, and pull and stretch it with
									the right hand. Get it as thin as you can. Then tear it into
									bite-sized pieces with the right hand. Drop it into the boiling
									soup. Repeat this until the dough runs out.</span>
							</p>
							<p>
								<span
									style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; color: #4b66b3;">2.
									Cook for a couple of minutes to let the noodles cook. The
									noodles will float on the surface when cooked properly. Then,
									add the green onion, carrot, zucchini.</span>
							</p>
							<h4
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;"></h4>
							<h3
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
								<span class="label label-primary">5. Plating food</span>
							</h3>
							<div
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
								<img
									src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_184436_1/1280_20200410_211305.jpg"
									width="1280" height="720" alt="Plating" title="Plating" />  <img
									src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_184436_1/1280_20200410_211214.jpg"
									width="1280" height="720" alt="Plating" title="Plating" /> 
							</div>
							<p>
								<span
									style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; color: #4b66b3;">Serve
									in a bowl and eat with moderately ripe Kimchi. Depending on
									your taste, you can add seaweed powder, red pepper or soy
									sauce.<br />
								</span>
							</p>
						</div>
					</div>
					<div
						style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
						<div id="section4"
							style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
							<h2
								style="line-height: 100.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
								<br /> <span
									style="font-family: 'comic sans ms', sans-serif; font-size: 40.0px; font-weight: bolder; color: #112987;">Review</span>
							</h2>
							<br /> <span style="color: #4b66b3;"><span
								style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px;">Now,
									the savory aroma fills my whole house. Its clear broth is
									enough to excite my children. First of all, I should always
									taste the soup from Sujebi. Wow! I can't believe it, its taste
									is really deep, rich and cool! This is the taste of my
									hometown! </span></span> <span style="color: #4b66b3;"><span
								style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px;">It
									is similar to the taste of  Seoul, which I miss even more
									lately. Next, it is time to eat Sujebi noodles. How can this be
									gooey? What jelly can be better than this in the world? </span></span> <span
								style="color: #4b66b3;"><span
								style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px;">Besides,
									the sweet taste of ripe potatoes and a combination of zucchini,
									carrot, and onion is really artistic! The harmony of a </span></span> <span
								style="color: #4b66b3;"><span
								style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px;">spoonful
									of warm Sujebi and Kimchi can make you the happiest of this
									moment! Now, if your heart is cold and lonely, enjoy this with
									me!</span></span> <span style="color: #4b66b3;"><span
								style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px;"> </span></span>
						</div>
					</div>
					<div
						style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
						<div id="section5"
							style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
							<h2
								style="line-height: 100.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
								<span
									style="font-family: 'comic sans ms', sans-serif; font-size: 40.0px; font-weight: bolder; color: #112987;">Video</span>
							</h2>
						</div>
					</div>
					<br />
					<div
						style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
						<video width="320" height="240"
							style="display: block; margin-left: auto; margin-right: auto;"
							preload="none" controls="controls"
							src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_184436_1/%ED%91%B8%EB%B8%943_v4_%EC%A0%80%EC%9A%A9%EB%9F%89.mp4">
							<object
								style="display: block; margin-left: auto; margin-right: auto;"
								width="320" height="240"
								classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
								codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"
								name="blogEntry_desc_text">
								<param name="flashvars"
									value="url=https%3A//bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_184436_1/%25ED%2591%25B8%25EB%25B8%25943_v4_%25EC%25A0%2580%25EC%259A%25A9%25EB%259F%2589.mp4&amp;poster=/webapps/blogs-journals/execute/" />
								<param name="allowfullscreen" value="true" />
								<param name="src"
									value="https://bb-gbc.blackboard.com/webapps/vtbe-tinymce/tiny_mce/plugins/media/moxieplayer.swf" />
								<param name="allowscriptaccess" value="true" />
								<embed
									style="display: block; margin-left: auto; margin-right: auto;"
									width="320" height="240" type="application/x-shockwave-flash"
									src="https://bb-gbc.blackboard.com/webapps/vtbe-tinymce/tiny_mce/plugins/media/moxieplayer.swf"
									flashvars="url=https%3A//bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_184436_1/%25ED%2591%25B8%25EB%25B8%25943_v4_%25EC%25A0%2580%25EC%259A%25A9%25EB%259F%2589.mp4&amp;poster=/webapps/blogs-journals/execute/"
									allowfullscreen="true" allowscriptaccess="true"
									name="blogEntry_desc_text" />
							</object>
						</video>
						<br />
						<hr
							style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;" />
					</div>
					<div id="section6"
						style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
						<h2
							style="line-height: 100.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;"></h2>
						<div id="section6"
							style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
								<span style="font-size: x-large;"><strong><span
										style="line-height: 200.0%; font-family: 'Times New Roman', serif;">References:</span></strong></span>
							</p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
								<span
									style="font-family: 'Times New Roman', serif; font-size: large;">Korea.net.
									(2019). <em>Korean Recipes: Sujebi(수제비)</em>
								</span><i
									style="font-family: 'Open Sans', sans-serif; text-shadow: none; letter-spacing: normal;">. </i><span
									style="font-family: 'Times New Roman', serif; font-size: large;">Retrieved
									from April 12, 2020, from </span>
							</p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
								<span
									style="font-size: large; line-height: 107.0%; font-family: 'Times New Roman', serif;"></span><span
									style="font-size: large; font-family: 'times new roman', times;"><a
									href="http://www.korea.net/NewsFocus/Culture/view?articleId=143452"
									style="font-family: inherit; text-shadow: none; letter-spacing: normal; margin: 0.0px; padding: 0.0px; border: 0.0px; outline: 0.0px; font-weight: inherit; font-style: inherit; font-size: 18.0px; color: #337ab7; text-decoration: underline; background-color: transparent;">http://www.korea.net/NewsFocus/Culture/view?articleId=143452</a></span>
							</p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;"></p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
								<span style="font-size: large;"><span
									style="line-height: 200.0%; font-family: 'Times New Roman', serif;">Wikipdeia.
										(2020). <em>Sujebi</em>. Retrieved from April 12, 2020, from
								</span></span>
							</p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
								<span style="font-size: large;"><span
									style="font-family: 'times new roman', times;"><a
										href="https://en.wikipedia.org/wiki/Sujebi">https://en.wikipedia.org/wiki/Sujebi</a>
								</span></span>
							</p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;"></p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;"></p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;"></p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
								<span
									style="font-size: large; line-height: 200.0%; font-family: 'Times New Roman', serif; background-color: #ffffff; text-align: justify; margin-top: 12.0pt; visibility: hidden;">Yonsei University. (2019).
									<em>Yonsei News. Revolutionizing Korean Food and Culture</em>.<i
									style="font-family: 'Open Sans', sans-serif; text-shadow: none; letter-spacing: normal;"> </i>Retrieved
									March 26, 2020, from 
								</span>
							</p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
								<span style="font-size: large;"><span
									style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt; visibility: hidden;">
										<a
										href="http://www.yonsei.kr/en_sc/yonsei_news.jsp?mode=view&amp;article_no=173942&amp;board_wrapper=%2Fen_sc%2Fyonsei_news.jsp&amp;pager.offset=20&amp;board_no=585&amp;title=revolutionizing-korean-food-and-culture;jsessionid=LBCcEyN4xlZqsgTnYLng121Ibb5JoAfTdTCyDxMN0K1zV4ITydo1DKiqq9HQnlh6.ysmainweb1_servlet_engine1"
										style="font-family: 'Open Sans', sans-serif; text-shadow: none; letter-spacing: normal; margin: 0.0px; padding: 0.0px; border: 0.0px; outline: 0.0px; font-weight: 400; font-style: normal; font-size: large; color: #337ab7; text-decoration: underline; background-color: #ffffff; orphans: 2; text-align: justify; text-indent: 0.0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0.0px;"><span
											style="font-family: 'Times New Roman', serif;">http://www.yonsei.kr/en_sc/yonsei_news.jsp?mode=view&amp;article_no=173942&amp;board_wrapper=%2Fen_sc%2Fyonsei_news.jsp&amp;pager.offset=20&amp;board_no=585&amp;title=revolutionizing-korean-food-and-culture;jsessionid=LBCcEyN4xlZqsgTnYLng121Ibb5JoAfTdTCyDxMN0K1zV4ITydo1DKiqq9HQnlh6.ysmainweb1_servlet_engine1</span></a>
								</span><br /></span>
							</p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;"></p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
								<b
									style="font-family: inherit; font-size: large; font-style: inherit;"> </b>
							</p>
						</div>
						<hr
							style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;" />
						<div class="row"
							style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;"></div>
					</div>
				</div>
			</div>
			<p align="center">
				<span style="font-size: x-large;"> </span>
			</p>
		</div>
	</div>
</div>