<p>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
</p>
<div class="container-fluid">
	<h1 align="center"
		style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
		<span
			style="font-family: 'comic sans ms', sans-serif; font-size: 50.0px; color: #112987;">The
			Best Well-Being Dish in a Bowl</span><span
			style="font-family: 'comic sans ms', sans-serif; font-size: 50.0px; color: #112987;">: </span><span
			style="font-family: 'comic sans ms', sans-serif; font-size: 50.0px; color: #112987;">Jee's
			Bibimbap</span>
	</h1>
</div>
<div class="container-fluid"></div>
<div class="container-fluid"></div>
<div class="container-fluid">
	<br />
	<div class="row content">
		<div class="col-sm-3 sidenav"
			style="background-color: #c4f9fc; text-align: center;">
			<h3 style="background-color: #c4f6fc;">
				<span style="color: #0d26be;">JeeYoung Rho's Food Blog</span>
			</h3>
			<br />
			<ul class="nav nav-pills nav-stacked">
				<li class="active"><a href="#section1">Introduction</a></li>
				<li class="active"><a href="#section2">Ingredients &amp;
						Equipment</a></li>
				<li class="active"><a href="#section3">Instructions</a></li>
				<li><pre>Preparing</pre></li>
				<li><pre>Boiling</pre></li>
				<li><pre>Mixing or Frying</pre></li>
				<li><pre>Plating food</pre></li>
				<li class="active"><a href="#section4">Review</a></li>
			</ul>
			                      <span
				style="background-color: #d9534f; color: #ffffff; font-size: 18.0px; font-weight: bold; text-align: center; white-space: nowrap;"></span>
			<div class="input-group">
				<span
					style="font-family: 'Open Sans', sans-serif; font-size: small;"> 
					       </span>
			</div>
			<br /> <br /> <br /> <br /> <br /> <br /> <br />
			<video width="224" height="168" preload="none" controls="controls"
				src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/Intro%281%29.mp4">
				<object width="224" height="168"
					classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
					codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"
					name="blogEntry_desc_text">
					<param name="flashvars"
						value="url=https%3A//bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/Intro%25281%2529.mp4&amp;poster=/webapps/blogs-journals/execute/" />
					<param name="allowfullscreen" value="true" />
					<param name="src"
						value="https://bb-gbc.blackboard.com/webapps/vtbe-tinymce/tiny_mce/plugins/media/moxieplayer.swf" />
					<param name="allowscriptaccess" value="true" />
					<embed width="224" height="168"
						type="application/x-shockwave-flash"
						src="https://bb-gbc.blackboard.com/webapps/vtbe-tinymce/tiny_mce/plugins/media/moxieplayer.swf"
						flashvars="url=https%3A//bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/Intro%25281%2529.mp4&amp;poster=/webapps/blogs-journals/execute/"
						allowfullscreen="true" allowscriptaccess="true"
						name="blogEntry_desc_text" />
				</object>
			</video>
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<br /> <br /> <br />  <br /> <br /> <br /> <br /> <br /> <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br />  <br /> <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br />
			
			<br />     <br />
			<video width="224" height="168" preload="none" controls="controls"
				src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/1.Preparing%287%29.mp4">
				<object width="224" height="168"
					classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
					codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"
					name="blogEntry_desc_text">
					<param name="flashvars"
						value="url=https%3A//bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/1.Preparing%25287%2529.mp4&amp;poster=/webapps/blogs-journals/execute/" />
					<param name="allowfullscreen" value="true" />
					<param name="src"
						value="https://bb-gbc.blackboard.com/webapps/vtbe-tinymce/tiny_mce/plugins/media/moxieplayer.swf" />
					<param name="allowscriptaccess" value="true" />
					<embed width="224" height="168"
						type="application/x-shockwave-flash"
						src="https://bb-gbc.blackboard.com/webapps/vtbe-tinymce/tiny_mce/plugins/media/moxieplayer.swf"
						flashvars="url=https%3A//bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/1.Preparing%25287%2529.mp4&amp;poster=/webapps/blogs-journals/execute/"
						allowfullscreen="true" allowscriptaccess="true"
						name="blogEntry_desc_text" />
				</object>
			</video>
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br />
			<video width="224" height="168" preload="none" controls="controls"
				src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/22%282%29.mp4">
				<object width="224" height="168"
					classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
					codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"
					name="blogEntry_desc_text">
					<param name="flashvars"
						value="url=https%3A//bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/22%25282%2529.mp4&amp;poster=/webapps/blogs-journals/execute/" />
					<param name="allowfullscreen" value="true" />
					<param name="src"
						value="https://bb-gbc.blackboard.com/webapps/vtbe-tinymce/tiny_mce/plugins/media/moxieplayer.swf" />
					<param name="allowscriptaccess" value="true" />
					<embed width="224" height="168"
						type="application/x-shockwave-flash"
						src="https://bb-gbc.blackboard.com/webapps/vtbe-tinymce/tiny_mce/plugins/media/moxieplayer.swf"
						flashvars="url=https%3A//bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/22%25282%2529.mp4&amp;poster=/webapps/blogs-journals/execute/"
						allowfullscreen="true" allowscriptaccess="true"
						name="blogEntry_desc_text" />
				</object>
			</video>
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br />
			<video width="224" height="168" preload="none" controls="controls"
				src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/3%281%29.mp4">
				<object width="224" height="168"
					classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
					codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"
					name="blogEntry_desc_text">
					<param name="flashvars"
						value="url=https%3A//bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/3%25281%2529.mp4&amp;poster=/webapps/blogs-journals/execute/" />
					<param name="allowfullscreen" value="true" />
					<param name="src"
						value="https://bb-gbc.blackboard.com/webapps/vtbe-tinymce/tiny_mce/plugins/media/moxieplayer.swf" />
					<param name="allowscriptaccess" value="true" />
					<embed width="224" height="168"
						type="application/x-shockwave-flash"
						src="https://bb-gbc.blackboard.com/webapps/vtbe-tinymce/tiny_mce/plugins/media/moxieplayer.swf"
						flashvars="url=https%3A//bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/3%25281%2529.mp4&amp;poster=/webapps/blogs-journals/execute/"
						allowfullscreen="true" allowscriptaccess="true"
						name="blogEntry_desc_text" />
				</object>
			</video>
			  <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br />

			<video width="224" height="168" preload="none" controls="controls"
				src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/4.mp4">
				<object width="224" height="168"
					classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
					codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"
					name="blogEntry_desc_text">
					<param name="flashvars"
						value="url=https%3A//bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/4.mp4&amp;poster=/webapps/blogs-journals/execute/" />
					<param name="allowfullscreen" value="true" />
					<param name="src"
						value="https://bb-gbc.blackboard.com/webapps/vtbe-tinymce/tiny_mce/plugins/media/moxieplayer.swf" />
					<param name="allowscriptaccess" value="true" />
					<embed width="224" height="168"
						type="application/x-shockwave-flash"
						src="https://bb-gbc.blackboard.com/webapps/vtbe-tinymce/tiny_mce/plugins/media/moxieplayer.swf"
						flashvars="url=https%3A//bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/4.mp4&amp;poster=/webapps/blogs-journals/execute/"
						allowfullscreen="true" allowscriptaccess="true"
						name="blogEntry_desc_text" />
				</object>
			</video>
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			
			<br />
		</div>
		<div class="col-sm-9">
			<div
				style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
				<img class="img-rounded"
					src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/20200403_194438_1280.jpg"
					alt="Bibimbap" title="Bibimbap" width="1124" height="532"
					style="display: block; margin-left: auto; margin-right: auto;" /> 
				<br />
				<div id="section1"
					style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;"> 
					         </div>
				<div
					style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
					<span
						style="color: #112987; font-family: 'comic sans ms', sans-serif; font-size: 40.0px; font-weight: bolder;">Introduction</span>
				</div>
				<div
					style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
					<br />
					<div
						style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
						<h4
							style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
							<span style="color: #4b66b3;"><span
								style="font-size: 25.0px; line-height: 30.0px;"><span
									style="font-family: 'comic sans ms', sans-serif; text-align: left; margin-top: 12.0pt;">Bibimbap
										is a typical Korean dish that mixes a variety of vegetables,
										meat or egg, and red pepper sauce together. The Bibimbap,
										which is so popular and famous that even celebrities including
										Michael Jackson love, features traditional Korean food. The
										basics of Korean food are the balanced composition of the
										ingredients and the quality that takes a long time to
										complete. Although there are a lot of ingredients and it takes
										a long time from purchasing to preparing materials, I would
										like to introduce to you the food representative of
										well-being. Especially, I want to eat this Bibimbap with you,
										which can save even the palate of those who have lost their
										appetite or dislike vegetables. Chef JongWon Baek uses a lot
										of seasonal ingredients or meat toppings, but today I will
										make my own traditional Bibimbap inspired by Chef JongWon </span></span></span><span
								style="color: #4b66b3;"><span
								style="font-size: 25.0px; line-height: 30.0px;"><span
									style="font-family: 'comic sans ms', sans-serif; text-align: left; margin-top: 12.0pt;">Baek </span></span></span><span
								style="color: #4b66b3;"><span
								style="font-size: 25.0px; line-height: 30.0px;"><span
									style="font-family: 'comic sans ms', sans-serif; text-align: left; margin-top: 12.0pt;">and
										my mom's recipe.</span></span></span>
						</h4>
					</div>
					<div
						style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
						        <img class="img-rounded"
							src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/Back_1280.jpg"
							width="346" height="274" alt="Baek's Bibimbap"
							title="Baek's Bibimbap" />       <img class="img-rounded"
							src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/20200405_141747_cutting_1280.jpg"
							width="554" height="277" alt="Bibimbap" title="Bibimbap" />     
					</div>
					<h3
						style="line-height: 200.0%; background-color: #ffffff; text-align: center; margin-top: 12.0pt;">
						<span class="label label-primary">JongWon Baek &amp;
							Jee's Bibimbap</span>
					</h3>
					<div
						style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
						<div
							style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;"></div>
						<div id="section2"
							style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
							<br /> <br /> <span
								style="font-family: 'comic sans ms', sans-serif; font-size: 40.0px; font-weight: bolder; color: #112987;">Ingredients
								and Equipment</span>
						</div>
						<br />
						<div
							style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;"></div>
						<div
							style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
							<img
								src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/20200406_221421.jpg"
								width="985" height="554" alt="Ingredients" title="Ingredients"
								style="display: block; margin-left: auto; margin-right: auto;" /> 
						</div>
						<div id="section3"
							style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
							<br />
							<div
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
								<span
									style="font-family: 'comic sans ms', sans-serif; font-size: 40.0px; font-weight: bolder; color: #112987;">Instructions</span>
							</div>
							<br />
							<div
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
								<span style="color: #4b66b3;"><span
									style="font-size: 25.0px; line-height: 30.0px;"><span
										style="font-family: 'comic sans ms', sans-serif; text-align: left; margin-top: 12.0pt;"> Bibimbap
											is a Korean rice dish and the term "Bibim" means mixing
											various ingredients, while the "Bap" noun refers to rice.
											Bibimbap is served as a bowl of warm white rice topped with
											Namul (sautéed and seasoned vegetables) or Kimchi
											(traditional fermented vegetables) and Gochujang (chili
											pepper paste), soy sauce, or Doenjang (a fermented soybean
											paste). A raw or fried egg and sliced meat (usually beef) are
											common additions. The hot dish is stirred together thoroughly
											just before eating. </span></span></span>
							</div>
							<br /> <br />
							<h4
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;"></h4>
							<img class="img-rounded"
								src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/20200403_165917_1280%283%29.jpg"
								width="500" height="236" alt="Ingredient" title="Ingredient"
								style="float: left;" />
							<h3
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
								<span class="label label-primary">1. Preparing
									ingredients</span>
							</h3>
							<h4
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
								<span
									style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; color: #4b66b3;">
									-Prepare cooking tools and ingredients.<br />-Wash the
									ingredients in clean water.<br />-Chop the carrots, lettuce
									and slice the seaweed.<br />-Cut off the head of the spinach.
								</span>
							</h4>
							<h4
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;"></h4>
							<br /> <br /> <br />
							<p>
								<img
									src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/20200406_161737%281%29.jpg"
									width="364" height="364" alt="Boiling" title="Boiling"
									style="float: right;" />
							</p>
							<h3
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
								<span class="label label-primary">2. Boiling ingredients</span>
							</h3>
							<h4
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
								<span
									style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; color: #4b66b3; background-color: #ffffff; text-align: center; margin-top: 12.0pt;">-After
									the water boils, add Spinach with 1/4 tsp(teaspoon) salt,
									blanch it (about 2 minutes) and  rinse blanched spinach in cold
									water.<br /> -Next put water and bean sprouts in a pot After
									adding 1/2 tsp salt, boil it with opening the lid for 2-3
									minutes, and rinsing bean sprouts in cold water
								</span>
							</h4>
							<br /> <br /> <br />
							<h4
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;"></h4>
							<h3
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
								<span class="label label-primary">3. Mixing or Frying
									ingredients</span>
							</h3>
							<h4
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
								<span
									style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; color: #4b66b3;">-Cut
									blanched spinach and bean sprouts to about 3 to 4cm in length,
									and add 2 tsp sesame oil and 1/4 salt and  mix them each.<br />-Sprinkle
									a little salt of carrots and fry in a frying pan for about 1
									minute as quickly as possible.<br />-Add a handful of salt to
									the bracken water boiled in the mart and fry for 2-3 minutes on
									high heat.<br />-put the 1 tsp Cooking oil in the frying pan,
									and fry the eggs until it is half cooked.<br />-Gochujang(chili
									pepper paste) sauce: Mix Gochujang 2sp, sesame oil 2 tsp,
									cooking wine 1tsp, vinegar 1/2 tsp, and sesame 1sp(spoon).<br />-soy
									sauce: Mix SOY 2sp, sesame oil 2 tsp, and sesame 1sp(spoon).
								</span>
							</h4>
							<h4
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;"></h4>
							<p></p>
							<h4
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;"></h4>
							<h3
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
								<span class="label label-primary">4. Plating food</span>
							</h3>
							<h4
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
								<span
									style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; color: #4b66b3;">Place
									the rice in the bottom of the plate and the prepared
									ingredients on top of it. And take it with chili pepper paste
									or soy sauce according to your taste. </span>
							</h4>
						</div>
					</div>
					<div
						style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
						<img class="img-rounded"
							src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/plating_1280.jpg"
							width="901" height="429" alt="Plating" title="Plating"
							style="display: block; margin-left: auto; margin-right: auto;" />
					</div>
					<div
						style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
						<br />
						<div id="section4"
							style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
							<h2
								style="line-height: 100.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
								<br /> <span
									style="font-family: 'comic sans ms', sans-serif; font-size: 40.0px; font-weight: bolder; color: #112987;">Review</span>
							</h2>
							<br />
							<h4
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
								<span style="color: #4b66b3;"><span
									style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px;">The
										savory aroma of sesame oil and sesame salt stimulates appetite
										and the visual of various colors already captivates me from
										the visual taste. Once you take a bite, a fantastic
										combination of colorful vegetables, half-boiled eggs, and
										Korean-style sauces presents a spicy, sweet, crispy and soft
										taste. Korean Gochujang sauce has several levels of spiciness,
										but it will taste better if regular Gochujang is added to suit
										your taste. My 9-year-old daughter mixes half soy sauce and
										half red pepper sauce and enjoys it fantastic! In particular,
										this dish may change its name and taste depending on the
										topping such as meat bibimbap and squid bibimbap. This goes
										well with wine and a luxurious atmosphere, so I strongly
										recommend it to you. Fantastic! </span> </span>
							</h4>
						</div>
						<br />
						<hr
							style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;" />
					</div>
					<div id="section5"
						style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
						<h2
							style="line-height: 100.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;"></h2>
						<div id="section8"
							style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
								<span style="font-size: x-large;"><strong><span
										style="line-height: 200.0%; font-family: 'Times New Roman', serif;">References:</span></strong></span>
							</p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;"></p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
								<span style="font-size: large;"><span
									style="line-height: 200.0%; font-family: 'Times New Roman', serif;">Asiaone.
										(2017). Best thing I ate this week:
										Beef Bulgogi Bibimbap at Paik's Bibim. Retrieved from April 6,
										2020, from</span></span>
							</p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
								<span style="font-size: large;"><span
									style="font-family: 'times new roman', times;"><a
										href="https://www.asiaone.com/food/best-thing-i-ate-week-beef-bulgogi-bibimbap-paiks-bibim"
										style="font-family: inherit; text-shadow: none; letter-spacing: normal; margin: 0.0px; padding: 0.0px; border: 0.0px; outline: 0.0px; font-weight: inherit; font-style: inherit; font-size: 18.0px; color: #337ab7; text-decoration: underline; background-color: transparent;">https://www.asiaone.com/food/best-thing-i-ate-week-beef-bulgogi-bibimbap-paiks-bibim</a></span></span>
							</p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;"></p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
								<span
									style="font-family: 'Times New Roman', serif; font-size: large;">Royal
									T Group. (2020). Ourbrands</span><i
									style="font-family: 'Open Sans', sans-serif; text-shadow: none; letter-spacing: normal;">. </i><span
									style="font-family: 'Times New Roman', serif; font-size: large;">Retrieved
									April 06, 2020, from </span>
							</p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
								<span
									style="font-size: large; line-height: 107.0%; font-family: 'Times New Roman', serif;"></span><span
									style="font-size: large; font-family: 'times new roman', times;"><a
									href="https://royaltgroup.com/our-brands/paik-s-bibim.html">https://royaltgroup.com/our-brands/paik-s-bibim.html</a>
								</span>
							</p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;"></p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;"></p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
								<span
									style="font-size: large; line-height: 107.0%; font-family: 'Times New Roman', serif;">Yonsei University. (2019).
									<em>Yonsei News. Revolutionizing Korean Food and Culture</em>.<i
									style="font-family: 'Open Sans', sans-serif; text-shadow: none; letter-spacing: normal;"> </i>Retrieved
									March 26, 2020, from 
								</span>
							</p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
								<span style="font-size: large;"> <a
									href="http://www.yonsei.kr/en_sc/yonsei_news.jsp?mode=view&amp;article_no=173942&amp;board_wrapper=%2Fen_sc%2Fyonsei_news.jsp&amp;pager.offset=20&amp;board_no=585&amp;title=revolutionizing-korean-food-and-culture;jsessionid=LBCcEyN4xlZqsgTnYLng121Ibb5JoAfTdTCyDxMN0K1zV4ITydo1DKiqq9HQnlh6.ysmainweb1_servlet_engine1"
									style="font-family: 'Open Sans', sans-serif; text-shadow: none; letter-spacing: normal; margin: 0.0px; padding: 0.0px; border: 0.0px; outline: 0.0px; font-weight: 400; font-style: normal; font-size: large; color: #337ab7; text-decoration: underline; background-color: #ffffff; orphans: 2; text-align: justify; text-indent: 0.0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0.0px;"><span
										style="line-height: 200.0%; font-family: 'Times New Roman', serif;">http://www.yonsei.kr/en_sc/yonsei_news.jsp?mode=view&amp;article_no=173942&amp;board_wrapper=%2Fen_sc%2Fyonsei_news.jsp&amp;pager.offset=20&amp;board_no=585&amp;title=revolutionizing-korean-food-and-culture;jsessionid=LBCcEyN4xlZqsgTnYLng121Ibb5JoAfTdTCyDxMN0K1zV4ITydo1DKiqq9HQnlh6.ysmainweb1_servlet_engine1</span></a>
									<br /></span>
							</p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;"></p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
								<b
									style="font-family: inherit; font-size: large; font-style: inherit;"> </b>
							</p>
						</div>
						<hr
							style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;" />
						<div class="row"
							style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;"></div>
					</div>
				</div>
			</div>
			<p align="center">
				<span style="font-size: x-large;"> </span>
			</p>
		</div>
	</div>
</div>