<p>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
</p>
<div class="container-fluid">
	<h1 align="center"
		style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
		<span
			style="font-family: 'comic sans ms', sans-serif; font-size: 50.0px; color: #112987;">Food
			of warm reminiscence</span><span
			style="font-family: 'comic sans ms', sans-serif; font-size: 50.0px; color: #112987;">: </span><span
			style="font-family: 'comic sans ms', sans-serif; font-size: 50.0px; color: #112987;">Jee's
			Sujebi</span>
	</h1>
</div>
<div class="container-fluid"></div>
<div class="container-fluid"></div>
<div class="container-fluid">
	<br />
	<div class="row content">
		<div class="col-sm-3 sidenav"
			style="background-color: #c4f9fc; text-align: center;">
			<h3 style="background-color: #c4f6fc;">
				<span style="color: #0d26be;">JeeYoung Rho's Food Blog</span>
			</h3>
			<br />
			<ul class="nav nav-pills nav-stacked">
				<li class="active"><a href="#section1">Introduction</a></li>
				<li class="active"><a href="#section2">Ingredients &amp;
						Equipment</a></li>
				<li class="active"><a href="#section3">Instructions</a></li>
				<li><pre>Preparing</pre></li>
				<li><pre>Making Broth</pre></li>
				<li><pre>Making Dough</pre></li>
				<li><pre>Making Noodle</pre></li>
				<li><pre>Plating food</pre></li>
				<li class="active"><a href="#section4">Review</a></li>
			</ul>
			                      <span
				style="background-color: #d9534f; color: #ffffff; font-size: 18.0px; font-weight: bold; text-align: center; white-space: nowrap;"></span>
			<div class="input-group">
				<span
					style="font-family: 'Open Sans', sans-serif; font-size: small;"> 
					       </span>
			</div>
			<br /> <br /> <br /> <br /> <br /> <br /> <br />
			<video width="224" height="168" preload="none" controls="controls"
				src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/Intro%281%29.mp4">
				<object width="224" height="168"
					classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
					codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"
					name="blogEntry_desc_text">
					<param name="flashvars"
						value="url=https%3A//bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/Intro%25281%2529.mp4&amp;poster=/webapps/blogs-journals/execute/" />
					<param name="allowfullscreen" value="true" />
					<param name="src"
						value="https://bb-gbc.blackboard.com/webapps/vtbe-tinymce/tiny_mce/plugins/media/moxieplayer.swf" />
					<param name="allowscriptaccess" value="true" />
					<embed width="224" height="168"
						type="application/x-shockwave-flash"
						src="https://bb-gbc.blackboard.com/webapps/vtbe-tinymce/tiny_mce/plugins/media/moxieplayer.swf"
						flashvars="url=https%3A//bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/Intro%25281%2529.mp4&amp;poster=/webapps/blogs-journals/execute/"
						allowfullscreen="true" allowscriptaccess="true"
						name="blogEntry_desc_text" />
				</object>
			</video>
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<br /> <br /> <br />  <br /> <br /> <br /> <br /> <br /> <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br />  <br /> <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br />    
			<br />
			<video width="224" height="168" preload="none" controls="controls"
				src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/1.Preparing%287%29.mp4">
				<object width="224" height="168"
					classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
					codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"
					name="blogEntry_desc_text">
					<param name="flashvars"
						value="url=https%3A//bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/1.Preparing%25287%2529.mp4&amp;poster=/webapps/blogs-journals/execute/" />
					<param name="allowfullscreen" value="true" />
					<param name="src"
						value="https://bb-gbc.blackboard.com/webapps/vtbe-tinymce/tiny_mce/plugins/media/moxieplayer.swf" />
					<param name="allowscriptaccess" value="true" />
					<embed width="224" height="168"
						type="application/x-shockwave-flash"
						src="https://bb-gbc.blackboard.com/webapps/vtbe-tinymce/tiny_mce/plugins/media/moxieplayer.swf"
						flashvars="url=https%3A//bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/1.Preparing%25287%2529.mp4&amp;poster=/webapps/blogs-journals/execute/"
						allowfullscreen="true" allowscriptaccess="true"
						name="blogEntry_desc_text" />
				</object>
			</video>
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br />
			<video width="224" height="168" preload="none" controls="controls"
				src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/22%282%29.mp4">
				<object width="224" height="168"
					classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
					codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"
					name="blogEntry_desc_text">
					<param name="flashvars"
						value="url=https%3A//bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/22%25282%2529.mp4&amp;poster=/webapps/blogs-journals/execute/" />
					<param name="allowfullscreen" value="true" />
					<param name="src"
						value="https://bb-gbc.blackboard.com/webapps/vtbe-tinymce/tiny_mce/plugins/media/moxieplayer.swf" />
					<param name="allowscriptaccess" value="true" />
					<embed width="224" height="168"
						type="application/x-shockwave-flash"
						src="https://bb-gbc.blackboard.com/webapps/vtbe-tinymce/tiny_mce/plugins/media/moxieplayer.swf"
						flashvars="url=https%3A//bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/22%25282%2529.mp4&amp;poster=/webapps/blogs-journals/execute/"
						allowfullscreen="true" allowscriptaccess="true"
						name="blogEntry_desc_text" />
				</object>
			</video>
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br />
			<video width="224" height="168" preload="none" controls="controls"
				src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/3%281%29.mp4">
				<object width="224" height="168"
					classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
					codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"
					name="blogEntry_desc_text">
					<param name="flashvars"
						value="url=https%3A//bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/3%25281%2529.mp4&amp;poster=/webapps/blogs-journals/execute/" />
					<param name="allowfullscreen" value="true" />
					<param name="src"
						value="https://bb-gbc.blackboard.com/webapps/vtbe-tinymce/tiny_mce/plugins/media/moxieplayer.swf" />
					<param name="allowscriptaccess" value="true" />
					<embed width="224" height="168"
						type="application/x-shockwave-flash"
						src="https://bb-gbc.blackboard.com/webapps/vtbe-tinymce/tiny_mce/plugins/media/moxieplayer.swf"
						flashvars="url=https%3A//bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/3%25281%2529.mp4&amp;poster=/webapps/blogs-journals/execute/"
						allowfullscreen="true" allowscriptaccess="true"
						name="blogEntry_desc_text" />
				</object>
			</video>
			  <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br />
			<video width="224" height="168" preload="none" controls="controls"
				src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/4.mp4">
				<object width="224" height="168"
					classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
					codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"
					name="blogEntry_desc_text">
					<param name="flashvars"
						value="url=https%3A//bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/4.mp4&amp;poster=/webapps/blogs-journals/execute/" />
					<param name="allowfullscreen" value="true" />
					<param name="src"
						value="https://bb-gbc.blackboard.com/webapps/vtbe-tinymce/tiny_mce/plugins/media/moxieplayer.swf" />
					<param name="allowscriptaccess" value="true" />
					<embed width="224" height="168"
						type="application/x-shockwave-flash"
						src="https://bb-gbc.blackboard.com/webapps/vtbe-tinymce/tiny_mce/plugins/media/moxieplayer.swf"
						flashvars="url=https%3A//bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/4.mp4&amp;poster=/webapps/blogs-journals/execute/"
						allowfullscreen="true" allowscriptaccess="true"
						name="blogEntry_desc_text" />
				</object>
			</video>
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<br />
		</div>
		<div class="col-sm-9">
			<div
				style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
				<img
					src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_184375_1/img_xl.jpg"
					width="1000" height="835" alt="Sujebi1" title="Sjuebi1" /> <img
					src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_184375_1/img_xl%20_2_.jpg"
					width="1000" height="834" alt="Sujebi2" title="Sujebi2" /><br />
				<div id="section1"
					style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;"> 
					         </div>
				<div
					style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
					<span
						style="color: #112987; font-family: 'comic sans ms', sans-serif; font-size: 40.0px; font-weight: bolder;">Introduction</span>
				</div>
				<div
					style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
					<br />
					<div
						style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
						<h4
							style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
							<span style="color: #4b66b3;"><span
								style="font-size: 25.0px; line-height: 30.0px;"><span
									style="font-family: 'comic sans ms', sans-serif; text-align: left; margin-top: 12.0pt;">Sujebi
										is a Korean traditional soup consisting of dough flakes
										roughly torn by hand, with various vegetables. The flavor and
										recipe resemble kalguksu, except that the latter is made with
										noodles rather than wheat flakes. It is commonly considered a
										dish to consume on rainy days, along with bindaetteok. The
										broth for sujebi is usually made with dried anchovies,
										shellfish, and kelp. In order to obtain a rich, umami flavor,
										the ingredients should be simmered for many hours. Added to
										this broth are soft noodles and various vegetables or kimchi,
										most often zucchini and potatoes. Chef Baek Jongwon uses a lot
										of seasonal ingredients or meat toppings, but today I will
										make my own traditional Sujebi inspired by Chef Baek Jongwon
										and my mom's recipe.  </span></span></span><span style="color: #4b66b3;"><span
								style="font-size: 25.0px; line-height: 30.0px;"><span
									style="font-family: 'comic sans ms', sans-serif; text-align: left; margin-top: 12.0pt;">Baek </span></span></span><span
								style="color: #4b66b3;"><span
								style="font-size: 25.0px; line-height: 30.0px;"><span
									style="font-family: 'comic sans ms', sans-serif; text-align: left; margin-top: 12.0pt;">and
										my mom's recipe.</span></span></span>
						</h4>
					</div>
					<div
						style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;"> 
						                  </div>
					<h3
						style="line-height: 200.0%; background-color: #ffffff; text-align: center; margin-top: 12.0pt;">
						<span class="label label-primary">JongWon Baek &amp;
							Jee's Sujebi</span>
					</h3>
					<div
						style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
						<div
							style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;"></div>
						<div id="section2"
							style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
							<br /> <br /> <span
								style="font-family: 'comic sans ms', sans-serif; font-size: 40.0px; font-weight: bolder; color: #112987;">Ingredients
								and Equipment</span>
						</div>
						<br />
						<div
							style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
							  <img
								src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_184375_1/Ingredient1.jpg"
								width="542" height="765" alt="in1" title="in1" /><img
								src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_184375_1/Ingredient2.jpg"
								width="542" height="765" alt="in2" title="in2" />
						</div>
						<div
							style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;"> </div>
						<div id="section3"
							style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
							<br />
							<div
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
								<span
									style="font-family: 'comic sans ms', sans-serif; font-size: 40.0px; font-weight: bolder; color: #112987;">Instructions</span>
							</div>
							<br />
							<div
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
								<span style="color: #4b66b3;"><span
									style="font-size: 25.0px; line-height: 30.0px;"><span
										style="font-family: 'comic sans ms', sans-serif; text-align: left; margin-top: 12.0pt;"> Hi
											everyone I am Jee, from now, I will make Korean traditional
											hot food. It called Sujebi. Sujebi is a Korean wheat dish.
											The term "Su" means hand, while the "Jebi" refers to "folded"
											or "folding". Sujebi is today considered a typical commoner's
											food, but in the past, it was relatively rare and used for
											special occasions. The main key point of “Sujebi” is the
											taste of the broth. Broth made by water, onion, radish,
											anchovy, sea tangle, and condiments like salt is not needed.
											Next, the dough will be made by hand. after being made, the
											dough will be into the tasty broth. Sujebi served as a Soup
											bowl of fresh ingredients that potato, pumpkin, onion.
											Depending on one’s taste, sliced Seaweed can be added. I will
											try to cook it with my recipe that learned from my mother.
											Please enjoy my Food.  </span></span></span>
							</div>
							<br /> <br />
							<h4
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;"></h4>
							<img class="img-rounded"
								src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/20200403_165917_1280%283%29.jpg"
								width="500" height="236" alt="Ingredient" title="Ingredient"
								style="float: left;" />
							<h3
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
								<span class="label label-primary">1. Preparing
									ingredients</span>
							</h3>
							<h4
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
								<span
									style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; color: #4b66b3;">
									-Prepare cooking tools and ingredients.<br />-Wash the
									ingredients in clean water.<br />-Chop the carrots, Onion,
									potato, Pumpkin, Radish.
								</span>
							</h4>
							<h4
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;"></h4>
							<br /> <br /> <br />
							<p>
								<img
									src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/20200406_161737%281%29.jpg"
									width="364" height="364" alt="Boiling" title="Boiling"
									style="float: right;" />
							</p>
							<h3
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
								<span class="label label-primary">2. Making Broth</span>
							</h3>
							<h4
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
								<span
									style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; color: #4b66b3; background-color: #ffffff; text-align: center; margin-top: 12.0pt;">
									-Put 10 cup water in a large pot, and add onion, radish, dried
									anchovies, and dried kelp.<br /> -Bring it to a boil for 10
									minutes over high heat, then lower the heat to simmer for
									another 10 minutes.<br /> -Use a dry net to pull out
									ingredients.<br /> -Take the anchovies, kelp, onion, radish
									out.<br /> -Add pumpkin, Potato, Carrots, and 1 sp garlic
									paste into a pot and boil for 10 minutes.
								</span>
							</h4>
							<br /> <br /> <br />
							<h4
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;"></h4>
							<h3
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
								<span class="label label-primary">3. Making Dough</span>
							</h3>
							<h4
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
								<span
									style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; color: #4b66b3;">-Put
									the wheat flour of 300g into the bowl. <br />-Combine the
									wheat flour, 1/2 cup water, cooking oil in a large bowl. <br />Put
									the dough into a plastic bag and keep it in the refrigerator
									for aging.<br />*tip: Using a food processor is very
									convenient and saves time. If you use a food processor, use the
									dough blade and knead all the above ingredients for 1 minute
									until the dough sticks together and gets lumpy.
								</span>
							</h4>
							<br /> <br /> <br />
							<h4
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;"></h4>
							<h3
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
								<span class="label label-primary">4. Making Noodle</span>
							</h3>
							<h4
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
								<span
									style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; color: #4b66b3;">Put
									the dough in the left hand, and pull and stretch it with the
									right hand. Get it as thin as you can. Then tear it into
									bite-sized pieces with the right hand. Drop it into the boiling
									soup. Repeat this until the dough runs out. <br />-Cook for a
									couple of minutes to let the noodles cook. The noodles will
									float on the surface when cooked properly.<br />-Add the green
									onion and toasted sesame oil.
								</span>
							</h4>
							<h4
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;"></h4>
							<br />
							<h4
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;"></h4>
							<h3
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
								<span class="label label-primary">4. Plating food</span>
							</h3>
							<h4
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
								<span
									style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px; color: #4b66b3;">Transfer
									to a bowl and serve hot with kimchi, and take it with kimchi
									according to your taste. </span>
							</h4>
						</div>
					</div>
					<div
						style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
						<img class="img-rounded"
							src="https://bb-gbc.blackboard.com/courses/1/XLIST_ESL1117H_201902B/blog/_184896_1/post/_183205_1/plating_1280.jpg"
							width="901" height="429" alt="Plating" title="Plating"
							style="display: block; margin-left: auto; margin-right: auto;" />
					</div>
					<div
						style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
						<br />
						<div id="section4"
							style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
							<h2
								style="line-height: 100.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;">
								<br /> <span
									style="font-family: 'comic sans ms', sans-serif; font-size: 40.0px; font-weight: bolder; color: #112987;">Review</span>
							</h2>
							<br />
							<h4
								style="line-height: 200.0%; background-color: #ffffff; margin-top: 12.0pt;">
								<span style="color: #4b66b3;"><span
									style="font-family: 'comic sans ms', sans-serif; font-size: 25.0px; line-height: 30.0px;">Sujebi
										is a Korean traditional food that for many Koreans evokes
										memories of their grandmothers who cut a towering figure in
										their household’s kitchens. Sujebi is also a very memorable
										dish for many Koreans who went through poor times in their
										younger years, especially since Korea is now the 11th largest
										economy in the world. I have a good memory of eating sujebi
										with my parents, my grandparents. Especially when the winter
										season comes, I remember this strongly. this hearty and
										wholesome comfort food will help beat the cold and warm you up
										when it cold outside. Enjoying sujebi with hot broth. It will
										be truly food for you. </span> </span>
							</h4>
						</div>
						<br />
						<hr
							style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;" />
					</div>
					<div id="section5"
						style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
						<h2
							style="line-height: 100.0%; background-color: #ffffff; margin-top: 12.0pt; text-align: center;"></h2>
						<div id="section8"
							style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
								<span style="font-size: x-large;"><strong><span
										style="line-height: 200.0%; font-family: 'Times New Roman', serif;">References:</span></strong></span>
							</p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;"></p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
								<span style="font-size: large;"><span
									style="line-height: 200.0%; font-family: 'Times New Roman', serif;">Asiaone.
										(2017). Best thing I ate this week:
										Beef Bulgogi Bibimbap at Paik's Bibim. Retrieved from April 6,
										2020, from</span></span>
							</p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
								<span style="font-size: large;"><span
									style="font-family: 'times new roman', times;"><a
										href="https://www.asiaone.com/food/best-thing-i-ate-week-beef-bulgogi-bibimbap-paiks-bibim"
										style="font-family: inherit; text-shadow: none; letter-spacing: normal; margin: 0.0px; padding: 0.0px; border: 0.0px; outline: 0.0px; font-weight: inherit; font-style: inherit; font-size: 18.0px; color: #337ab7; text-decoration: underline; background-color: transparent;">https://www.asiaone.com/food/best-thing-i-ate-week-beef-bulgogi-bibimbap-paiks-bibim</a></span></span>
							</p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;"></p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
								<span
									style="font-family: 'Times New Roman', serif; font-size: large;">Royal
									T Group. (2020). Ourbrands</span><i
									style="font-family: 'Open Sans', sans-serif; text-shadow: none; letter-spacing: normal;">. </i><span
									style="font-family: 'Times New Roman', serif; font-size: large;">Retrieved
									April 06, 2020, from </span>
							</p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
								<span
									style="font-size: large; line-height: 107.0%; font-family: 'Times New Roman', serif;"></span><span
									style="font-size: large; font-family: 'times new roman', times;"><a
									href="https://royaltgroup.com/our-brands/paik-s-bibim.html">https://royaltgroup.com/our-brands/paik-s-bibim.html</a>
								</span>
							</p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;"></p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;"></p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
								<span
									style="font-size: large; line-height: 200.0%; font-family: 'Times New Roman', serif; background-color: #ffffff; text-align: justify; margin-top: 12.0pt; visibility: hidden;">Yonsei University. (2019).
									<em>Yonsei News. Revolutionizing Korean Food and Culture</em>.<i
									style="font-family: 'Open Sans', sans-serif; text-shadow: none; letter-spacing: normal;"> </i>Retrieved
									March 26, 2020, from 
								</span>
							</p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
								<span style="font-size: large;"><span
									style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt; visibility: hidden;">
										<a
										href="http://www.yonsei.kr/en_sc/yonsei_news.jsp?mode=view&amp;article_no=173942&amp;board_wrapper=%2Fen_sc%2Fyonsei_news.jsp&amp;pager.offset=20&amp;board_no=585&amp;title=revolutionizing-korean-food-and-culture;jsessionid=LBCcEyN4xlZqsgTnYLng121Ibb5JoAfTdTCyDxMN0K1zV4ITydo1DKiqq9HQnlh6.ysmainweb1_servlet_engine1"
										style="font-family: 'Open Sans', sans-serif; text-shadow: none; letter-spacing: normal; margin: 0.0px; padding: 0.0px; border: 0.0px; outline: 0.0px; font-weight: 400; font-style: normal; font-size: large; color: #337ab7; text-decoration: underline; background-color: #ffffff; orphans: 2; text-align: justify; text-indent: 0.0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0.0px;"><span
											style="font-family: 'Times New Roman', serif;">http://www.yonsei.kr/en_sc/yonsei_news.jsp?mode=view&amp;article_no=173942&amp;board_wrapper=%2Fen_sc%2Fyonsei_news.jsp&amp;pager.offset=20&amp;board_no=585&amp;title=revolutionizing-korean-food-and-culture;jsessionid=LBCcEyN4xlZqsgTnYLng121Ibb5JoAfTdTCyDxMN0K1zV4ITydo1DKiqq9HQnlh6.ysmainweb1_servlet_engine1</span></a>
								</span><br /></span>
							</p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;"></p>
							<p
								style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;">
								<b
									style="font-family: inherit; font-size: large; font-style: inherit;"> </b>
							</p>
						</div>
						<hr
							style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;" />
						<div class="row"
							style="line-height: 200.0%; background-color: #ffffff; text-align: justify; margin-top: 12.0pt;"></div>
					</div>
				</div>
			</div>
			<p align="center">
				<span style="font-size: x-large;"> </span>
			</p>
		</div>
	</div>
</div>